.searchboard-container {
    height: 100%;
    width: 200px;
    background-color: #30404d;
    position: absolute;
    display: flex;
    flex-direction: column;
    
    color: white;
    transform: translate3d(-250px,0,0);
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) all;

    -webkit-box-shadow: 10px 2px 10px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 2px 10px -5px rgba(0,0,0,0.3);
    box-shadow: 10px 2px 10px -5px rgba(0,0,0,0.3);
}
.searchboard-container.searchboard-open{
    transform: translate3d(0,0,0); 
}
.searchboard-container span{
    font-size: 10px;
    cursor: pointer;
}

.search-entry{
    padding-left:10px;
    border-left: 2px solid white;
    display: flex;
    align-items: center;
}

.search-entry-provider{
    border-color: hsl(0, 70%, 50%);
}

.search-entry-directive{
    border-color: hsl(55, 70%, 50%);
}

.search-entry-service{
    border-color: hsl(127, 70%, 50%);
}

.search-entry-controller{
    border-color: hsl(189, 70%, 50%);
}

.search-entry-factory{
    border-color: hsl(270, 70%, 50%);
}

.search-entry-filter{
    border-color: hsl(322, 70%, 50%);
}

.search-input{
    margin:10px;
    margin-top:30px;
}
